<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>A little about me</h1>
			<p>Web development</p>
		</header>
		<p>Born in Spain, 1982. Been all my life interested in computing, since my first coding
			experiences with BASIC back with my old IBM 286. Very passionate about coding and creating
			interesting applications, devoted most of my life (but not exclusively) to web development.</p>

		<p>I enjoy to discover about new interesting technologies as well as write my thoughts about
			topics that wake up my curiosity.</p>

		<ul class="actions">
			<li><a href="#" class="button big">Go to my blog</a></li>
			<li><a href="#" class="button big">Visit my portfolio</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="images/me.jpg" alt="" />
	</span>
</section>