---
layout: default
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>A little about me</h1>
			<p>Web development</p>
		</header>
		<p>Born in Spain, 1982. Been all my life interested in computing, since my first coding
			experiences with BASIC back with my old IBM 286. Very passionate about coding and creating
			interesting applications, devoted most of my life (but not exclusively) to web development.</p>

		<p>I enjoy to discover about new interesting technologies as well as write my thoughts about
			topics that wake up my curiosity.</p>

		<ul class="actions">
			<li><a href="/blog" class="button big">Blog</a></li>
			<!-- <li><a href="/portfolio" class="button big">Visit my portfolio</a></li> -->
		</ul>
	</div>
	<span class="image object">
		<img src="images/me.jpg" alt="" />
	</span>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Technologies I use</h2>
	</header>
	<div class="features">
		<article>
			<span class="icon fa-globe"></span>
			<div class="content">
				<h3>HTML5</h3>
				<p>Of course, the most important of basics. Always evolving, with new features to make it a more interesting
					experience.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-file-text"></span>
			<div class="content">
				<h3>CSS3</h3>
				<p>The second of the 3 base technologies from the internet. Far have we gone since the times of I6
					trying to make our layouts fit together with tables, for the sake of the internet.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-rocket"></span>
			<div class="content">
				<h3>JS</h3>
				<p>The real ruler of the web these days. Not happy enough to have reigned as the only programming language
					for the client, it has taken over the server side and it does not plan to let it go. All hail JS!
				</p>
			</div>
		</article>
		<article>
			<span class="icon fa-diamond"></span>
			<div class="content">
				<h3>Ruby on Rails</h3>
				<p>Maybe my favorite MVC framework for any project that needs backend logic and server-side rendering. The
					conventions are very well thought and Ruby as programming language makes the code as easy to read as plain English
				</p>
			</div>
		</article>
		<article>
			<span class="icon fa-diamond"></span>
			<div class="content">
				<h3>React</h3>
				<p>While many other frameworks have appeared to create front-end applications, like Angular or Vue, it seems
					that none has achieved the level of popularity that React enjoys today. A must-know skill, if working
					in the frontend.
				</p>
			</div>
		</article>
		<article>
			<span class="icon fa-book"></span>
			<div class="content">
				<h3>Wordpress</h3>
				<p>While PHP remains an old language of the web, with great inconsistencies and, in my opinion, hars to work with,
					Wordpress seems to remain as the indisputed King of CMS frameworks. The ecosystem is great with plugins and
					addons that make the development experience much easier.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-wrench"></span>
			<div class="content">
				<h3>Tools</h3>
				<p>Many tools help to make the work much maintanable and enjoyable. Among them, my most common are Git, BitBucket,
					GitHub and Visual Studio Code.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-hourglass-half"></span>
			<div class="content">
				<h3>Agile Development</h3>
				<p>Lots of techniques have been developed to make the work in big projects with multiple developers more efficient,
					and avoid that we step on each other's feet. Scrum, stand-ups, retrospectives... Very useful, <strong>if used
						properly!</strong>
				</p>
			</div>
		</article>
	</div>
</section>